.content {
    min-width: 960px;
    max-width: 1440px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1fc;
}

header {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

section {
    margin: 2em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 10px 100px;
}

img {
    border-radius: 16px;
}

.project {
    display: flex;
}

.button-regular-nav {
    background-color: #c6c8d0;
    border: none;
    font-size: large;
    font-weight: bold;
    border-radius: 32px;
    padding: 10px 20px;
    margin: 20px 5px;
    float: right;
}

.button-bold-nav {
    background-color: #2b2e3b;
    border: none;
    font-size: large;
    font-weight: bold;
    color: #f1f1fc;
    border-radius: 32px;
    padding: 10px 20px;
    margin: 20px 5px;
    float: right;
}

.button-img {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.circular-img {
    width: 41px;
    height: 41px;
    margin: 20px 5px;
}